/*start of stars*/
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

.stars, .twinkling {
  position: absolute;

  /*used to be 100% /*/
  width: 100%;
  height: 100%;
  display: block;


}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}
.background {
  z-index: 0;
  margin: 0;
  position:static;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
#bg{

}
/*start of rest of stuff*/
.body {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  color: white;
}



html, body {
  margin: 0;
/*overflow: hidden;*/
}

nav {
  height: 10vh;
  margin: 0;
  padding: 0;
  font-size: 3vh;
  font-family: Monoton;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: navfadein;
  /*Animation delay is howevre long first sequence is plus 2 sec*/
  animation-delay: 7s;
  animation-fill-mode: backwards;
}

@keyframes navfadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

nav:hover {
  background-color: rgba(255, 255, 255, .15);
  transition: background-color 1s;
}

a {
  text-decoration: none;
  color: white;
}

nav>div {
  text-align: center;
  padding-top: 4.5vh;
}

/*.right, .left {
      display: flex;
    flex-direction: row;
 justify-content: space-evenly;

} */
.right, .left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 33.33%;
}

.left>a {
  padding-left: 50px;
}

.right>a {
  padding-right: 50px;
}

#content {
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*home.html*/
.rest-of-the-home{
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
  animation-delay: 7s;
  animation-fill-mode: forwards;


}
.home-grid{
  position: fixed;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows:20% 20% 20% 20% 20%;
  grid-column-gap: 0px;
  z-index: 1;

}

/*on index but relates to clicks on home*/

.hidden{
    visibility: hidden;
}
.butt{
  width: 5vh;
  height: 5vh;
  font-size: 3vh;
  padding: 0;
background-color: rgba(255,255,255, .5);
text-align: center;
color: rgb(0,179,117);
border-radius: 50%;
border-color: black;
border-top-color: black;
border-left-color: black;

}
.popup{
  background-color: rgba(149, 156, 155, 0.5);
  width: 100%;
  height: 100%;

  z-index:4;
  position: fixed;



  line-height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;


}
.popup > div{
    text-align: right;
  height: 90vh;
  width: 90vh;
  border: 5px solid rgb(0,179,117);
    background-color: white;
    border-radius: 15%;
}
.popup > div >p{
  text-align: center;
}
.rocket2{

  text-align: center;
  grid-area: 1/1/span 1/ span 1;
}
.rocket2 > img{
      transform: rotate(85deg);
    width: 40%;

}
.home-grid > div{
    border: 1px solid rgb(255,255,255);
}
.lilguy{
grid-area: 2/2/ span 1/ span 1;

}
.lilguy > img{
  width: 40%;
  height: 40%;
    animation: rotate1 4s linear infinite;
}
@keyframes rotate1 {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(180);}

}
.trophy{
  grid-area:5/4/ span 1/span 1;
}
/*contact.html*/
.center {
  text-align: center;
}

.contact {
  text-align: left;
  display: inline-block;
}

/*pulldataadmin.html*/
/*uses same code as contact.html*/
